.footer {
    background-color: #f5f5f5;
    padding: 67px 0 25px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 50px;
}

.footer-brand {
    flex: 1;
    min-width: 300px;
}

.footer-logo {
    font-family: "Archivo Black", sans-serif;
    font-size: 33.45px;
    margin-bottom: 25px;
    display: inline-block;
    color: #000;
}

.footer-text {
    font-size: 14px;
    line-height: 22px;
    color: #555;
    max-width: 300px;
    margin-bottom: 35px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 28px;
    height: 28px;
}

.footer-links-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
   
}

.links-group {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.links-title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.links-list {
    line-height: 19px;
}

.links-list li {
    margin-bottom: 12px;
}

.links-list a {
    font-size: 16px;
    color: #555;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: #777;
}