.promo {
    background-color: #F2F0F1;
    overflow: hidden;
}

.promo__container {
    display: flex;
    padding-left: 100px;
    max-width: 1440px; 
    margin: 0 auto; 
    width: 100%; 
}

.promo__container img {
    max-width: 100%; 
    height: auto;
}

.promo__content {
    padding: 109px 0;
}

.promo__title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 64px;
    line-height: 64px;
    color: #000;
    margin-bottom: 33px;
}

.promo__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 33px;
}

.promo__button {
    display: inline-block;
    padding: 14px 54px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 62px;
    margin-bottom: 47px;
}

.promo__stats {
    display: flex;
    gap: 40px;
}


.stat-divider {
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

.promo__stat-number {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;
}

.promo__stat-text {
    font-size: 16px;
    color: #666;
    white-space: nowrap;
}